<!DOCTYPE html>
<html>
  <head>
    <title>Food And Fitness Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", media: 'all' , 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "application" , 'data-turbolinks-track' => true %>
  </head>
  <body class="login-bg">
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-12">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="">Food And Fitness Server</a></h1>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

	<div class="page-content container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-wrapper">
			        <div class="box">
			            <div class="content-wrap">
			                <h6>Sign In</h6>
                      <form class="login-form" action="/admin/login" method="POST" >
                        <input class="form-control" type="text" placeholder="Username" name="username"/>
                        <input class="form-control" type="password" placeholder="Password" name="password"/>
                        <input class="btn btn-primary signup" type="submit" value="Login">
                      </form>                
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
  </body>
</html>
