<h1>Create New A User</h1>
<form action="create" method="POST">
  Username:<br>
  <input type="text" name="username" value="susu"><br><br>
  Password:<br>
  <input type="password" name="password" value="xxx"><br><br>
  Description:<br>
  <textarea name="description" cols="10" rows="10">asudhash</textarea>
  <br><br>
  Age:<br>
  <input type="number" name="age" value="12">
  <br><br>
  <input type="submit" value="Create">
</form> 