<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag "application", media: 'all' , 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "application" , 'data-turbolinks-track' => true %>
</head>

<body>
    <%= yield %>

    <script src="https://code.jquery.com/jquery.js"></script>
		</body>
</html>